<div class="flex gap-8 my-16 px-4 items-center justify-center flex-col">
  <h1 class="text-center font-semibold text-3xl">
    The best pizza.<br />
    <span class="text-yellow-500"
      >Straight out of the oven, straight to you.</span
    >
  </h1>
  <form
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    class="flex gap-4 items-center justify-center flex-col"
    *ngIf="!username"
  >
    <label class="text-center" for="name"
      >👋 Welcome! Please start by telling us your name:</label
    >
    <input
      type="text"
      id="name"
      name="name"
      class="input mb-8 w-72"
      placeholder="Your first name"
      ngModel
      required
    />
  </form>
  <button
    (click)="goToMenu()"
    *ngIf="username"
    class="inline-block text-sm rounded-full bg-yellow-400 font-semibold uppercase tracking-wide text-stone-800 transition-colors duration-300 hover:bg-yellow-300 focus:bg-yellow-300 focus:outline-none focus:ring focus:ring-yellow-300 focus:ring-offset-2 disabled:cursor-not-allowed px-3 py-2 md:px-6 md:py-4"
  >
    Continue Ordering, {{ username }}
  </button>
</div>
